@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300&family=Unbounded&display=swap');
*{
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300&family=Unbounded&display=swap');
/* HEADER */

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 1%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: bold;
}

li:hover{
  cursor: pointer;
  color: rgb(26, 148, 26);
  transform: scale(1.2);
  transition: 500ms
}

nav{
  background-color: rgb(0, 0, 0);
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow:  1px 6px 10px rgb(0, 0, 0);
}

.link1{
  pointer-events: none;
}

#link_tutoriales{
  color: rgb(26, 148, 26);
}

a{
  text-decoration: none;
  color: white
}

/*----------*/

button{
  background: none;
  position: absolute;
  margin-left: 47%;
  margin-top: 22%;
  padding: 1%;
  border: none;
}

button:hover{
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50%;
}

html{
  scroll-behavior: smooth;
}






.Tutoriales_pag{
  color: rgb(0, 170, 14);
}








.container_info{
  height: 933px;
  /* background-color: rgba(0, 170, 14, 0.3) */
}

.container_info2{
  height: 1653px;
  background-color: rgba(0, 170, 14, 0.3);
  margin-top: 1%;
}


.title1{
  font-family: 'Kanit', sans-serif;
  font-size: 400%;
  padding-top: 15%;
  padding-left: 2%;
}

.info_desc{
  font-family: 'Kanit', sans-serif;
  font-size: 120%;
  padding-left: 2%;
}



.mantenimientopag{
  margin-left: 20%;
  margin-top: 6%;
}